include LICENSE
include requirements.txt
include README.md
include Readme.md
recursive-include cra5 *.py
recursive-include cra5 *.cpp *.hpp *.h
recursive-include cra5/api *.json
recursive-include cra5/dataset *.json
